@model EMS.Web.Areas.User.Models.CreateSmtpModel

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>New Smtp Configuration</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">New Configuration</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Add a new Smtp Configuration</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <partial name="_ActionMessage" model="@Model.Response" />
                        <form asp-area="User" asp-controller="Smtp" asp-action="CreateSmtp" method="post" class="form-horizontal">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="SmtpProvider" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="SmtpProvider" class="form-control" />
                                    <span asp-validation-for="SmtpProvider" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="SmtpHostServer" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="SmtpHostServer" class="form-control" />
                                    <span asp-validation-for="SmtpHostServer" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Port" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Port" class="form-control" />
                                    <span asp-validation-for="Port" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="EnableSsl" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="EnableSsl" class="form-check"/>
                                    <span asp-validation-for="EnableSsl" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="UserName" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="UserName" class="form-control" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password" class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <input asp-for="Password" class="form-control" type="password"/>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="submit" class="btn btn-default" value="Submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section PageScripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}